<div class="jumbotron text-center">
<h1><strong>{{Ejemplo}}</strong></h1>
</div>


<div class="container">
  <div>
    <div>
      <h3>Tu headhunter de confianza</h3>
      <p>
        SearchRecruiter, es una Compañía construida en 2.011 con el Talento y la experiencia de grandes profesionales especializados en las Tecnologías de la Información y los Recursos Humanos.

        Nuestro compromiso en estos años, ha sido y sigue siendo, aportar la máxima calidad en la realización de cada Servicio, Proyecto o Producto realizado.</p>


      <p>Garantía de fiabilidad, que nos permite gozar de la confianza de nuestros clientes.

        A través de alianzas estratégicas con líderes tecnológicos del mercado, SearchRecruiter está capacitada para aportarle las mejores soluciones con independencia de su tamaño y actividad, garantizando en todo momento, la más alta calidad en todas las soluciones tecnológicas implantadas.

        Contáctenos, sin duda encontrará un gran equipo de profesionales que le aportarán la mejor especialización a sus necesidades.
      </p>
    </div>
  </div>
</div>

<button class="btn btn-primary" (click)="Navegar()">Ver Procesos</button>

<!--<app-usuario-component nombre ="Juan" apellidos="sanz"  email="jnfdsn@gmail.com" ></app-usuario-component>-->
